{% load static %}

<!-- Footer Start -->
<div class="footer" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-contact">
                    <h2>Контакты</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Казань, Павлюхина, 91 ТЦ "KazanMall"</p>
                    <p><i class="fa fa-phone-alt"></i> <a href = "tel:+79053755009">8-905-375-50-09</a></p>
                    <p><i class="fa fa-envelope"></i>chipkazan116@yandex.ru</p>
                    <div class="footer-social">
                        <a class="btn" href="https://api.whatsapp.com/send?phone=79372809073"><i class="fab fa-whatsapp"></i></a>
                        <a class="btn" href="https://t.me/chipkazan2022"><i class="fab fa-telegram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="footer-link">
                    <h2>Карта Сайта</h2>
                    <a href="{% url 'home' %}">Главная</a>
                    <a href="{% url 'uslugi' %}">Услуги</a>
                    <a href="{% url 'price' %}">Цены</a>
                    <a href="{% url 'about' %}">О Нас</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>
            </div>
   <!--         <div class="col-lg-3 col-md-6">
                <div class="footer-link">
                    <h2>Useful Links</h2>
                    <a href="">Terms of use</a>
                    <a href="">Privacy policy</a>
                    <a href="">Cookies</a>
                    <a href="">Help</a>
                    <a href="">FQAs</a>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

